#chatbot-div {
	position: fixed; /* Sit on top of the page content */
	display: table-cell;
   vertical-align:middle;
	right: 0;
	bottom: 0;
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

#chatbot-toggle { 
	float: top;
	padding: 10px;
	margin: 10px;
	border-radius: 3px;
}