body{
	background-color: white;
}

#main_container{
	width: 100%;
  height: 100%;
  margin: auto;
  display:inline-block;
}

div#filter_panel{
  position:fixed;
  left: 0px;
  top:0px;
	width: 250px;
  margin-bottom: 150px;
  float: left;
}

div#result_panel{
	margin-left: 250px;
  height: 100%;
  text-align: center;
}
